<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="merliniserentant.bar_tender" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ChoixLangue"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="Bar_tender" />
        <activity
            android:name=".Main"
            android:label="Bar_tender" />
        <activity
            android:name=".carte"
            android:label="@string/title_activity_carte" >
        </activity>
        <activity
            android:name=".Consult"
            android:label="Bar_tender" >
        </activity>
        <activity
            android:name=".ConsultTag"
            android:label="Bar_tender" >
        </activity>
        <activity
            android:name=".consult_details"
            android:label="@string/title_activity_consult_details" >
        </activity>
        <activity
            android:name=".Commander"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".Ajouter"
            android:label="@string/title_activity_search" >
        </activity>
                <activity
            android:name=".Addition"
            android:label="@string/title_activity_addition" >
        </activity>
        <activity
            android:name=".Paiement"
            android:label="@string/title_activity_paiement" >
        </activity>
        <activity
            android:name=".ConsultInventaire"
            android:label="@string/title_activity_inventaire" >
        </activity>
        <activity
            android:name=".ChoixInventaire"
            android:label="@string/title_activity_choixinventaire" >
        </activity>
    </application>


</manifest>
